@{
    Layout = SConfig.GetThemedTemplate("Layouts/_Master.cshtml");
}

@Html.Partial(SConfig.GetThemedTemplate("Components/_TopNavigation.cshtml"))

<div class="container sd-body-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @RenderBody()
        </div>
    </div>
    <div class="row">
        @Html.Partial(SConfig.GetThemedTemplate("Components/_LandingProjectsList.cshtml"))
    </div>
</div>

@Html.Partial(SConfig.GetThemedTemplate("Components/_Footer.cshtml"))
