<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPMeta2.SSOM.Nintex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SPMeta2.SSOM.Nintex.Properties.Settings>
            <setting name="SPMeta2_SSOM_Nintex_NintexWorkflowService_NintexWorkflowWS"
                serializeAs="String">
                <value>http://sp2013dev/_vti_bin/NintexWorkflow/Workflow.asmx</value>
            </setting>
        </SPMeta2.SSOM.Nintex.Properties.Settings>
    </applicationSettings>
</configuration>