<div class="container sps-footer">
    <div class="row">
        <hr/>
        <footer class="text-center">
            <p >Copyright &copy; <a hre="http://subpointsolutions.com" target="_blank">SubPoint Solutions</a> @DateTime.Now.Year.
                Built with "<a href='https://github.com/slider23/bootstrap-theme-github'>Github theme for twitter bootstrap 3"</a>, <a href="http://wyam.io">Wyam</a> and <a href="https://netlify.com">Netlify</a>.
   updated <a target="_blank" href='https://ci.appveyor.com/project/SubPointSupport/spmeta2-docs'>[[ci-date]]</a> from <a href="https://github.com/SubPointSolutions/subpointsolutions-docs">github repo</a>.</p>
        </footer>
    </div>
</div>